<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gq.dao.SsoUserMapper">

 <insert id="insert" parameterType="com.gq.beans.SsoUser">
    insert into sso_user ( loginId, password, 
      loginNum, lastLoginDate, fk_site_id, 
      isValide)
    values ( #{loginid,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{loginnum,jdbcType=INTEGER}, #{lastlogindate,jdbcType=TIMESTAMP}, #{fkSiteId,jdbcType=INTEGER}, 
      #{isvalide,jdbcType=INTEGER})
  </insert>
  <select id="selectByLoginId" resultType="com.gq.beans.SsoUser">
  select  id, loginId, password, loginNum, lastLoginDate, fk_site_id, isValide
    from sso_user where loginId = #{loginid,jdbcType=VARCHAR}
  </select>
   
   <update id="updateByPrimaryKey" parameterType="com.gq.beans.SsoUser">
    update sso_user
    <set>
      <if test="loginid != null">
        loginId = #{loginid,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="loginnum != null">
        loginNum = #{loginnum,jdbcType=INTEGER},
      </if>
      <if test="lastlogindate != null">
        lastLoginDate = #{lastlogindate,jdbcType=TIMESTAMP},
      </if>
      <if test="fkSiteId != null">
        fk_site_id = #{fkSiteId,jdbcType=INTEGER},
      </if>
      <if test="isvalide != null">
        isValide = #{isvalide,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
</mapper>